/* Enol Rodríguez Hevia y U287935O*/
/*AQUAMARINE :#A8CEE9*/

/*Especificidad 001*/
body {
    font-family: Arial, sans-serif;
    color: #A8CEE9;
}

/*Especificidad 001, 001, 001*/
h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
}

/*Especificidad 001*/
header{
    /*hereda color de body*/
    background-color: #391306;
}

body:link{
    background-color: #391306;
}